html, body{
    background-color: black!important;
    margin: 0px;
}

@font-face {
    font-family: 'saranaigamebold';
    src: url('/games/superhero/assets/fonts/webfonts/saranaigame-bold-webfont.eot');
    src: url('/games/superhero/assets/fonts/webfonts/saranaigame-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/games/superhero/assets/fonts/webfonts/saranaigame-bold-webfont.woff2') format('woff2'),
    url('/games/superhero/assets/fonts/webfonts/saranaigame-bold-webfont.woff') format('woff'),
    url('/games/superhero/assets/fonts/webfonts/saranaigame-bold-webfont.ttf') format('truetype'),
    url('/games/superhero/assets/fonts/webfonts/saranaigame-bold-webfont.svg#saranaigamebold') format('svg');
}
